<html>
  <head>
    <title>MuttonChop</title>
    <<import('./styles/index.css');>>
  </head>
  <body>
    <h1 class="template-title">MuttonChop</h1>
    <ul class="template-list">
      <<data.templates.forEach(function(template) {>>
        <<import('./components/templateItem.template');>>
      <<});>>
    </ul>
  </body>
</html>
